first__:root{
	--M:"Montserrat", sans-serif;
	--F:"FuturaBkBt", sans-serif;
}

body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.header{
	max-width: 100%;
	/* min-height: 130px; */
	background-color: #252525;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.header-item__top{
	display: flex;
	padding: 25px 0;
	justify-content: space-between;
}
.header-item__logo{
	color:#fff;
	font-family: var(--F);
	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 0.03em;
	margin-right: 42px;
}
.header-item__menu{
	display: flex;
	justify-content: space-between;
	color: #FFF;
	padding-top: 12px;
}
.header-item__menu-item + .header-item__menu-item{
	margin-left: 35px;
}
.menu-item__link {
	color: #fff;
	font-family:"Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}
.header-item__menu-btns{
	margin-left: 20px;
	height: 28px;
	padding-top: 7px;
}
.header-item__menu-login{
	position: relative;
	padding-left: 32px;
	padding-right: 9px;
	padding-top: 6px;
	padding-bottom: 5px;
	font-family:"Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #515151;
	background-color: #252525;
	border: 1px solid rgba(255,255,255, 0.5);
	border-radius:30px;
}
.header-item__menu-login::before{
	content: "";
	position: absolute;
	background-image: url("../images/user-login.svg");
	width: 20px;
	height: 20px;
	top:3px;
	left: 10px;
}
.header-item__menu-search{
	padding-left: 16px;
	margin-left: 20px;
	padding-top: 6px;
	padding-bottom: 5px;
	font-family:"Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #515151;
	background-color: #252525;
	border: 1px solid rgba(255,255,255, 0.5);
	border-radius:30px;
}


.header-item__tel{
	display: flex;
	flex-direction: column;
	padding-top: 6px;
	margin-left: 21px;
}
.header-item__tel-num{
	font-family:"Montserrat", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #FAF9F9;
}
.header-item__tel-link{
	font-family:"Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-decoration-line: underline;
	color: #03C5F6;
	padding-left: 20px;
}
.header-item__bottom{
	display: flex;
}

.header-item__bottom-burger{
	position: relative;
	width: 33px;
	height: 15px;
	padding-bottom: 25px;
	border-bottom: 3px solid #C4C4C4;
	margin-left: 42px;
}
.header-item__bottom-burger::after{
	content:"";
	width: 20px;
	height: 3px;
	top: 5px;
	right: 0;
	position: absolute;
	background-color: #c4c4c4;
}
.header-item__bottom-burger::before{
	content:"";
	width: 25px;
	height: 2px;
	top: 15px;
	right: 0;
	position: absolute;
	background-color: #c4c4c4;
}
.header-item__bottom-line{
	border-bottom: 2px solid #C4C4C4;
}
.header-item__bottom-catalog{
	margin:0 38px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #FAF9F9;
	padding: 12px 0 0 0;
}
.header-item__bottom-inner{
	display: flex;
	padding-left: 45px;
	padding-top: 11px;
	padding-bottom: 11px;
	background: #515151;
	border-radius: 33px;
	margin-bottom: 18px;
	width: 800px;
}
.header-item__bottom-categories{
	display: flex;
}
.header-item__bottom-categories_item + .header-item__bottom-categories_item{
	margin-left: 49px;
}
.header-item__bottom-categories_link{
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #FAF9F9;
}
.header-item__bottom-categories_basket{
	padding-left: 81px;
	padding-right: 5px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #03C5F6;
	position: relative;
}
.header-item__bottom-categories_basket::before{
	content:"";
	position: absolute;
	width: 40px;
	height: 38px;
	bottom: -10px;
	right: 70px;
	background-image: url("../images/basket.svg");
}
.header-item__bottom-categories_basket::after{
	content:"";
	position: absolute;
	width: 1px;
	height: 38px;
	top: -10px;
	left: 43px;
	background-image: url("../images/Line-vertical.svg");
}

.header-item__bottom-categories_info{
	margin-left: 37px;
	padding-left: 18px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #515151;
}
.first__slider{
	max-width: 1600px;
	height:525px;
	margin: 0 auto;
	background: linear-gradient(270.04deg, rgba(255, 255, 255, 0.5) 0.03%, rgba(255, 255, 255, 0) 99.97%), #515151;
}
.first__slider-inner{
	display: flex;
}





.first__slider-inner__img{
	width: 486px;
	height: 523px
}
.first__slider-inner__img-img{
	width: 486px;
	height: 523px;
}
.first__slider-inner__content{
	max-width:420px;
	margin-left: 72px;
}
.first__slider-inner__content-title{
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 57px;
	line-height: 69px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	padding-top: 90px;
	padding-bottom: 30px;
}
.first__slider-inner__content-subtitle{
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}
.first__slider-inner__content-btn{
	font-family:"Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
	color: #FFFFFF;
	background: #03C5F6;
	border-radius: 86px;
	padding: 14px 28px;
	width: 158px;
	margin-top: 40px;
}
.first__slider-inner__content-pagination{
	display: flex;
	padding-left: 26px;
	margin-top: 100px;
}
.first__slider-inner__content-pagination_dote{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #C4C4C4;
}
.first__slider-inner__content-pagination_dote + .first__slider-inner__content-pagination_dote{
	margin-left: 16px;
}
.first__slider.second-slider {
	position: relative;
	max-width: 1600px;
	height: 491px;
	margin: 0 auto;
	background-image: url("../images/group-bgc.png");
}
.first__slider.second-slider::before{
	content: "Дешевле на 15 %";
	width: 148px;
	height: 82px;
	position: absolute;
	top: 20px;
	right:320px;
	background: #03C5F6;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 32px;
	color: #FFFFFF;  
}
.first__slider-inner__content.second-slider{
	max-width: 387px;
}
.first__slider-inner__content-title.second-slider {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 57px;
	line-height: 0px;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	padding-top: 180px;
}

.first__slider-inner__content.second-slider p {
	padding-right: 25px;
 	text-align: right;
 	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.23em;
	color: #FFFFFF;
}

 .first__slider-inner__content-subtitle.second-slider {
 	padding-top: 20px;
 }
.first__slider-inner__content-btn.second-slider {
	margin-top: 20px;
}

.products {
	margin-top: 57px;
}
.products__inner {}
.products__tabs {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 38px;
}
.products__tabs-item + .products__tabs-item{
	margin-left: 45px;
}
.products__tabs-item{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
}
.products__tabs-item.tabs-active{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.5);
}
.products__wrap {
	display: flex;
	justify-content: space-between;
	min-height: 419px;
}
.products__cards {
	display: flex;
	flex-direction: column;
	max-width: 270px;
	border: 2px solid #03C5F6;
	border-radius: 3px;
}
.products__cards-img {
	width: 270px;
	height: 230px;
	padding: 0 25px;
}
.products__cards-img-img {
	width: 100%;
	object-fit: cover;
}
.products__cards-title {
	flex:0 1 auto;
	padding: 34px 18px 5px 41px ;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 138.9%;
	color: #000000;
}
.products__cards-price {
	padding-left: 83px;
	padding-right: 83px;
	padding-bottom: 12px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}
.products__cards button{
	width: 158px;
	height: 33px;
	margin-left: 58px;
}
.products__cards-inbasket {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 33px;
	text-align: center;
	color: #FFFFFF;
	background: #03C5F6;
	border-radius: 86px;
}